{% extends 'base.html.twig' %}

{% block cuerpo %}
    <section class="text-center py-4 my-4">
        <h1 class="py-4 my-4"><i class="fas fa-ban textoRojo"></i>&nbsp;Acceso denegado</h1>
    </section>
{% endblock %}