{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}

	<style>

		#map {
			height: 380px;
			width: 100%;
		}

		textarea{
			height: 265px;
		}

	</style>

{% endblock %}

{% block title %}Contacto SOStenibles{% endblock %}

{% block cuerpo %}

	<div class="text-center banner rounded"><h1>Contacto</h1></div>

	<hr>

	<div class="row">
		<div class="col-lg-6">
			<address>
				<div class="row mb-3">
					<div class="col-md-3">
						<strong>Dirección:</strong>
					</div>
					<div class="col-md-9">
						Calle León y Castillo 231, Las Palmas de Gran Canaria. CP 35005.
					</div>
				</div>

				<hr class="linea">

				<div class="row mb-3">
					<div class="col-md-3">
						<strong>Teléfono:</strong>
					</div>
					<div class="col-md-9">
						928 29 00 00
					</div>
				</div>
				
				<hr class="linea">
				
				<div class="row mb-3">
					<div class="col-md-3">
						<strong>Email:</strong>
					</div>
					<div class="col-md-9">
						info@sostenibles.org
					</div>
				</div>
			</address>
			<div class="my-4" id="map"></div>
		</div>

		<hr class="linea">

		<div class="col-lg-6">

			<form>
				<fieldset>
					<legend>Formulario de contacto</legend>
					<div class="form-group row">
						<label for="usuario" class="col-xl-2 col-form-label"><strong>Usuario:</strong></label>
						<div class="col-xl-10">
							<input type="text" readonly class="form-control-plaintext" id="usuario" value="Nombre usuario">
						</div>
					</div>
					<div class="form-group row">
						<label for="asunto" class="col-xl-2 col-form-label"><strong>Asunto:</strong></label>
						<div class="col-xl-10">
							<input type="text" class="form-control" id="asunto" placeholder="Asunto">
						</div>
					</div>
					<div class="form-group">
						<label for="mensaje" class="col-form-label"><strong>Mensaje:</strong></label>
						<div>
							<textarea class="form-control" id="mensaje" placeholder="Escriba aquí su mensaje..."></textarea>
						</div>
					</div>
					<div class="d-flex">
						<button class="btn ml-auto" type="reset">Limpiar</button>
						<button class="btn ml-2" type="submit">Enviar</button>
					</div>    
				</fieldset>
			</form>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<!-- Google Maps -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCel3wtMYqoCUbVdjzW4zgJdDJ9XrfcRjk&callback=initMap" async defer></script>	

	<script>
		var map;
		var cruzRoja = ["Cruz Roja SOStenibles", 28.12325, -15.428128, "{{ asset('build/img/LogoCR_ico.JPG') }}"];

		function initMap() {
			map = new google.maps.Map(document.getElementById('map'), {
				center: {lat: cruzRoja[1], lng: cruzRoja[2]},
				zoom: 14
			});

			marker = new google.maps.Marker({
				position: new google.maps.LatLng(cruzRoja[1], cruzRoja[2]),
				map: map,
				icon: cruzRoja[3],
				title: cruzRoja[0]
			});
		}

	</script>

{% endblock %}